
 /*Loding style for the id use in the parent page code*/
 #infinite-content-loader {
    width: 100%;
    height: 110%;
    background-color: rgba(216, 214, 214, 0.5) ;
    z-index: 9000;
    position: fixed;
    top: -6px;
  }

  .infinite-body-div {
          /* background: rgb(74, 138, 194) !important; */
          background: rgb(9, 184, 249)  !important;
  }

  .progress-effect {
    position: relative !important;
    height: 13px;
    display: block !important;
    width: 100%;
    background-color:rgba(216, 214, 214, 0.5) !important;
    border-radius: 2px !important;
    background-clip: padding-box !important;
    margin: 0.5rem 0 1rem 0 !important;
    overflow: hidden !important;
  }

  .progress-effect .infinite-body-div:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: infinite-body-div 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: infinite-body-div 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  }

  .progress-effect .infinite-body-div:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: infinite-body-div-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: infinite-body-div-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 3s;
            animation-delay: 4s;
  }

  @-webkit-keyframes infinite-body-div {
    0% {
      left: -35%;
      right: 100%; }
    60% {
      left: 100%;
      right: -90%; }
    100% {
      left: 100%;
      right: -90%; } }
  @keyframes infinite-body-div {
    0% {
      left: -35%;
      right: 100%; }
    60% {
      left: 100%;
      right: -90%; }
    100% {
      left: 100%;
      right: -90%; }
    }
  @-webkit-keyframes infinite-body-div-short {
    0% {
      left: -200%;
      right: 100%; }
    60% {
      left: 107%;
      right: -8%; }
    100% {
      left: 107%;
      right: -8%; }
    }
  @keyframes infinite-body-div-short {
    0% {
      left: -200%;
      right: 100%; }
    60% {
      left: 107%;
      right: -8%; }
    100% {
      left: 107%;
      right: -8%; }
    }
